h1{
text-align: center;
}

.formConnexion{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
        display: none;

}

.formInsription{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    display: none;
}

nav{
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    background-color: aquamarine;
    border: none;
}

body{
    height: 100vh;
}

.navbar a{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 0 10px;
}
.navhh ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}
.navbar {
    display: flex;
    background-color: bisque;
    padding: 10px;
    justify-content: center;
    }

.im1 {
    display: flex;
    width: 100px;
    height: auto;
    justify-content: center    
    }